{{>admin-header}}

<section class="d-flex position-fixed">
  <div class="  bg-dark mt-5">
     <div class="height-100 text-white m-4 p-4 vh-100 ">
    <div class="accordion bg-secondary rounded-pill border-0" id="accordionExample" style="max-width:190px ;">
 
  <div class="accordion-item bg-secondary rounded-pill border-0">
    <h2 class="accordion-header " id="headingTwo">
      <button class="accordion-button collapsed bg-secondary  text-white  rounded-pil" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <b>Manage Users</b>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse bg-secondary rounded-pill" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
     <a href="/admin/showusers" class="link-light"> <div class="accordion-body bg-secondary rounded">
        <strong>View Users</strong>
      </div></a>
    </div>
  </div>
  
</div>
    </div>
    
  </div>

  <div>
    <div class="height-100 text-dark m-4 p-4 vh-100 overflow-auto ">
        <h4>Main Components</h4>
        <h4>Main Components</h4>
      
     
    </div>
  </div>

</section>